.nav{
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  width: 100%;
  padding: .3rem;
  background-color: rgb(54, 54, 54);
}

.container{
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1000px;
}

.navbarBrand{
  padding-left: .3rem;
  font-size: 1.6rem;
  font-weight: bold;
  color: #FF2442;
}

.socialMediaGroup {
  display: flex;
  justify-content: space-between;
  width: 100px;
  padding: .3rem;
  font-size: 1.1rem;
  color: #FF2442;
}

.socialLink{
  transition: all .2s linear;
  color: white;
}

.socialLink:hover {
  transition: all .2s linear;
  color: #FF2442;
}