.postCard{
    padding: 1rem;
    font-size: 1.1rem;
    color: #FF2442;
}

.titleArea{
    margin-bottom: .5rem;
    font-style: italic;
    color: white;
}

.contentArea {
    margin-bottom: .5rem;
    text-indent: .3rem;
    font-family: 'Source Sans Pro', sans-serif;
    color: #FFEDDA;
}

.author{
    margin-bottom: .5rem;
    font-weight: bold;
    color: #FF2442;
}

.infoArea{
    display: flex;
    justify-content: space-between;
}

.date{
    font-style: italic;
    color: #fff8efb4;
}

.clipBoard{
    cursor: pointer;
    transition: all .3s;
    font-size: 1.2rem;
}

.clipBoard:hover{
    transition: all .3s;
    color: #ffffff;
}