.postCard{
    padding: 1rem;
    margin-bottom: 1.5rem;
    cursor: pointer;
    border: 3px solid #FF2442;
    border-radius: .6rem;
    border-top-left-radius: 0;
    color: #FF2442;
}

.titleArea{
    margin-bottom: .5rem;
    color: #FFEDDA;
}

.descriptionArea {
    margin-bottom: .5rem;
    font-family: 'Source Sans Pro', sans-serif;
    font-style: italic;
    color: #fcf1e7;
}

.infoArea{
    display: flex;
    justify-content: space-between;
}

.date{
    font-style: italic;
    color: #fff8efb4;
}

.clipBoard{
    transition: all .3s;
    font-size: 1.2rem;
}

.clipBoard:hover{
    transition: all .3s;
    color: #ffffff;
}